.hero {
  max-width: 480px;
  margin: auto;
  padding: 118px 0px;
  text-align: center;
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $tablet) {
    max-width: 768px;
    margin: auto;
    padding: 118px 0px;
    background-size: cover;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1600px;
    margin: auto;
    padding: 200px 0px;
  }

  //mobile screen
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroes/x/img_sm@1x.jpg);

  //mobile screen retina
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroes/x/img_sm@2x.jpg);
  }

  //tablet  screen
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroes/x/img_md@1x.jpg);

    //tablet screen retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/heroes/x/img_md@2x.jpg);
    }
  }

  //desktop  screen
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/heroes/x/img_lg@1x.jpg);

    //desktop screen retina
    @media (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/heroes/x/img_lg@2x.jpg);
    }
  }
}

.hero__titel {
  margin-right: auto;
  margin-left: auto;
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);

  @media screen and (min-width: $tablet) {
    width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }

  @media screen and (min-width: $desktop) {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  margin-top: 30px;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 24px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background-color: var(--accent-color);
  transition: background-color var(--trns), color var(--trns),
    box-shadow var(--trns);

  @media screen and (min-width: $tablet) {
    min-width: 200px;
    padding: 10px 24px;
  }

  @media screen and (min-width: $desktop) {
    min-width: 216px;
    padding: 10px 32px;
  }
}
