.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--index-backdrop);
  width: 100%;
  height: 100%;
  background-color: rgba(47, 48, 58, 0.4);
  transition: opacity var(--trns), visibility var(--trns);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop__modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 93px);
  width: 450px;
  min-height: 609px;
  padding: 40px;
  background-color: var(--second-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: $tablet) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: $desktop) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    min-height: 581px;
  }
}

/* 
  =================
  FORM IN MODAL WINDOW
  =================
  */

.modal-form__titel {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);

  @media screen and (min-width: $tablet) {
    line-height: 30px;
  }

  @media screen and (min-width: $desktop) {
    line-height: 23px;
  }
}

/* .modal-form-field {
    display: flex;
    flex-direction: column;
  } */

.form__group {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

//   .modal-form__field :nth-last-child(3) {
//     margin-bottom: 0;
//   }

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--background-text-color);
  transition: var(--trns);
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  gap: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.66px;
  transition: var(--trns);
}

.form__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 14px;
  width: 18px;
  height: 18px;
}

.form__input:focus + .form__icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.form__input:focus-within,
.form__massege:focus-within {
  outline: 0;
  outline-offset: 0;
  appearance: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.form__massege {
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--trns);
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: var(--trns);
  cursor: pointer;
}

.checkbox__text {
  display: block;
  padding-left: 9px;
  text-align: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--background-text-color);

  @media screen and (min-width: $tablet) {
    line-height: 1.16;
  }

  @media screen and (min-width: $desktop) {
    line-height: 1.71;
  }
}

.checkbox__icon {
  transition: var(--trns);
}

.checkbox__link {
  color: var(--accent-color);
}

.checkbox__icon .checkbox__input--unchecked {
  opacity: 1;
  transition: var(--trns);
}

.checkbox__input:checked + .checkbox__icon .checkbox__input--unchecked {
  opacity: 0;
}

.checkbox__icon .checkbox__input--checked {
  opacity: 0;
  transition: var(--trns);
}

.checkbox__input:checked + .checkbox__icon .checkbox__input--checked {
  opacity: 1;
}
