.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--second-color);
  }
  
  .clients__titel {
    flex-basis: 366px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
  
  .clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .clients__link {
    width: 170px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition: border var(--trns);

    &:hover,
    &:focus {
      border-color: var(--accent-color);
    }
  }
  
  .clients__icon {
    fill: currentColor;
    transition: color var(--trns), border-color var(--trns), fill var(--trns);
   
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
  

  
